@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


@layer base {
  section {
    @apply  px-6 min-h-screen px-[5vw] py-[5vh] mb-[25dvh];
  }

}

@layer components {
  
}

@layer utilities {
  
}

/* globals.css */
.slideshow-fit img,
.slideshow-fit picture,
.slideshow-fit span > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center; /* ensure centering inside the box */
}


